@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Road+Rage&display=swap");

body {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

.main-wrap {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh;
  width: 100%;
}

.lateral {
  display: flex;
}

.menu {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #00b89336;
}

.option {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  width: 50%;
  text-align: center;
  height: 60px;
  border-radius: 40px;
  background-color: #0984e3;
  color: #ffffff;
  font-weight: bold;
}

.option :hover {
  background-color: #ff4756b9;
  border: 2px solid #4e484852;
  cursor: pointer;
}

.button :hover {
  border: none;
}
.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tittle {
  display: flex;
  height: 100px;
  align-items: center;
  font-family: "Road Rage", cursive;
  font-size: 25px;
  color: #535c68;
}
.info-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.tittle-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  font-weight: bold;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  font-weight: bold;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}
.button-get-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}
.display-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  font-weight: bold;
}
.set-button {
  width: 100px;
  background-color: #4696d394;
  color: #ffffff;
  border-radius: 10px;
  width: 120px;
  height: 60px;
}
input {
  height: 30px;
  border-radius: 6px;
  font-size: large;
}
